body{
  font-family: "Montserrat";
}
  #title{ background-color: #F0C633;
    }
#features{
  margin: 50px 0 50px 0;
}
.container-fluid{
  padding: 3% 15%;
}

h1 {
font-family: "Montserrat";
font-size: 3rem;
line-height: 1.5
}

.navbar-brand{
  color: black;
  font-weight: bold;

}

.navbar{
  padding: 0 0 1.5rem 0;
}
.nav-link{
  color: black;
}
  .tiger{
    width: 40%;
transition: transform .7s ease-in-out;
  }
  .tiger:hover {
    transform: rotateY(360deg);}

.socials{
  margin-top: 10px;
}

.cfalogo{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 20px 10px;
  border-width:6px;
  border-color: #000000;

}

.icons:hover{
  color: #F0C633;
  transform: scale(1.2);
}

.sketchfab-embed-wrapper{
  width: 115%;

}

.headline{
  margin-top: 100px;
}

#testimonials{

  text-align: center;
  background-color: #F0C633;
}
.carousel-item{
  padding: 5% 15%;
}

.photo{
    background-color: #F0C633 !important;
    border-radius: 10%;
    padding: 5px;
}
.anim{
    background-color: #F0C633 !important;
    border-radius: 10%;
    padding: 5px;
}
.tour{
    background-color:black !important;
    border-radius: 10%;
    padding: 5px;
}
.vr-text{
    color: white;
}
.on-yellow{
    color:black;
}
.label-success{
  color: white;
}

.col-lg-4{

  text-align: center;
  padding: 5px;

}

.row{
  margin-top: 2rem;

}
.label{
  border: 2px solid;
}

.plan-description{
  color: white;
}

.vrbutton{
  background-color:#F0C633 !important;
  color: black;
}
.photo-button{
  background-color:black !important;
  color: #F0C633;
}
  .photo-button:hover{
    background-color:black !important;
    color: white;
}
.anim-button{
  background-color:black !important;
  color: #F0C633;
}
.anim-button:hover{
  background-color:black !important;
  color: white;
}

.label{
  padding: 5px
}

.btn{
  margin-bottom: 10px;
}
.product{
  padding-top: 15px;
}

#cta{
  background-color: #F0C633;
}
